In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
all_df = pd.read_csv('./data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_All_Data_NOFLAG.csv', encoding="ISO-8859-1")
area_code_df = pd.read_csv('./data/Production_Crops_Livestock_E_All_Data/Production_Crops_Livestock_E_AreaCodes.csv')

code_to_name_dict = area_code_df[['Area Code', 'Area']].set_index('Area Code').to_dict()['Area']
all_df.loc[:, 'Area'] = all_df['Area Code'].replace(code_to_name_dict)
lat_lon = pd.read_csv('./data/world_country_and_usa_states_latitude_and_longitude_values.csv')

In [2]:
all_df = all_df.merge(
    lat_lon[['latitude', 'longitude', 'country']],
    how='left',
    left_on='Area',
    right_on='country',
)

# check country name

In [24]:
with open('./data/ne_110m.json', 'r') as f:
    text = f.read()

In [25]:
for country_name in all_df['Area'].unique():
    if text.find('"NAME":"{}"'.format(country_name)) == -1:
        print(country_name)

Antigua and Barbuda
Bahrain
Barbados
Belgium-Luxembourg
Cabo Verde
China; (including Taiwan)
China; Hong Kong SAR
China; Macao SAR
Comoros
Cook Islands
Czechoslovakia
Dominica
Eswatini
Ethiopia PDR
Faroe Islands
French Guyana
French Polynesia
Grenada
Guadeloupe
Kiribati
Maldives
Malta
Marshall Islands
Martinique
Mauritius
Micronesia (Federated States of)
Nauru
Niue
R�union
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
Sao Tome and Principe
Serbia and Montenegro
Seychelles
Singapore
South Sudan
Sudan (former)
Tokelau
Tonga
Tuvalu
USSR
Yugoslav SFR
World
Africa
Eastern Africa
Middle Africa
Northern Africa
Southern Africa
Western Africa
Americas
Northern America
Central America
Caribbean
South America
Asia
Central Asia
Eastern Asia
Southern Asia
South-eastern Asia
Western Asia
Europe
Eastern Europe
Northern Europe
Southern Europe
Western Europe
Oceania
Australia and New Zealand
Melanesia
Micronesia
Polynesia
European Union (27)
Least Developed Countries
Land Locked Developing Countries
Small Island Developing States
Low Income Food Deficit Countries
Net Food Importing Developing Countries

# wrangle file

Map of productiono of cereal

In [6]:
all_df

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,Y1976,Y1977,Y1978,Y1979,Y1980,Y1981,Y1982,Y1983,Y1984,Y1985,Y1986,Y1987,Y1988,Y1989,Y1990,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,latitude,longitude,country
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5900.0,6000.0,6000.0,6000.0,5800.0,5800.0,5800.0,5700.0,5700.0,5600.0,5500.0,5500.0,5400.0,5400.0,6037.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,7000.0,9000.0,5500.0,5700.0,12000.0,11768.0,12000.0,12000.0,12000.0,11029.0,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0,22134.0,33.93911,67.709953,Afghanistan
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16610.0,15000.0,20000.0,17500.0,17069.0,13793.0,18966.0,17018.0,18421.0,16071.0,18182.0,16364.0,16667.0,16296.0,15736.0,16364.0,18000.0,16364.0,16364.0,16364.0,16364.0,16364.0,16364.0,20000.0,17143.0,16667.0,21407.0,24561.0,12250.0,13282.0,16667.0,26234.0,35000.0,39154.0,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0,17759.0,33.93911,67.709953,Afghanistan
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9800.0,9000.0,12000.0,10500.0,9900.0,8000.0,11000.0,9700.0,10500.0,9000.0,10000.0,9000.0,9000.0,8800.0,9500.0,9000.0,9900.0,9000.0,9000.0,9000.0,9000.0,9000.0,9000.0,11000.0,12000.0,15000.0,11774.0,14000.0,14700.0,15630.0,20000.0,31481.0,42000.0,43183.0,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0,39307.0,33.93911,67.709953,Afghanistan
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.0,700.0,300.0,1100.0,1300.0,1882.0,700.0,2270.0,2871.0,3000.0,7000.0,4000.0,12000.0,11311.0,4000.0,1600.0,3300.0,6800.0,15000.0,16000.0,17432.0,28000.0,15000.0,17748.0,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,24500.0,26500.0,25333.0,25444.0,25759.0,33.93911,67.709953,Afghanistan
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7143.0,7143.0,6667.0,7273.0,7692.0,7072.0,7143.0,6855.0,6761.0,6667.0,6000.0,6250.0,5917.0,6189.0,6250.0,6250.0,6061.0,6029.0,6000.0,6250.0,6222.0,6071.0,6000.0,6202.0,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,7075.0,7149.0,7142.0,7123.0,7138.0,33.93911,67.709953,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77518,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5419,Yield,hg/ha,6118.0,6318.0,6618.0,6492.0,6417.0,6187.0,5978.0,5595.0,5954.0,5381.0,5603.0,5788.0,6052.0,6049.0,5916.0,5885.0,5906.0,6140.0,6115.0,6000.0,6144.0,6208.0,4931.0,4864.0,5623.0,5491.0,5456.0,5351.0,5486.0,5680.0,5544.0,5496.0,5221.0,5105.0,5065.0,5435.0,5270.0,5774.0,5654.0,5513.0,5824.0,4710.0,4947.0,4843.0,5240.0,4879.0,4759.0,5267.0,4705.0,5384.0,5401.0,5385.0,5169.0,5196.0,5262.0,5575.0,5835.0,5350.0,5476.0,5658.0,NaN,NaN,NaN
77519,5817,'902,Net Food Importing Developing Countries,1729,'F1729,"Treenuts, Total",5510,Production,tonnes,255724.0,295318.0,315667.0,349663.0,341957.0,336409.0,318793.0,412051.0,371776.0,434382.0,474040.0,476912.0,555059.0,521422.0,495377.0,406926.0,407359.0,370156.0,348867.0,354970.0,407357.0,381473.0,309000.0,344568.0,354345.0,350584.0,353961.0,366219.0,412978.0,392186.0,422513.0,464128.0,436602.0,437495.0,508846.0,574007.0,595658.0,671534.0,782075.0,782860.0,844656.0,765597.0,788551.0,848971.0,983433.0,1039599.0,1132650.0,1303449.0,1334493.0,1365370.0,1613861.0,1655268.0,1765728.0,1854309.0,2140896.0,1976746.0,2459880.0,2684323.0,2503026.0,2833231.0,NaN,NaN,NaN
77520,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5312,Area harvested,ha,1877800.0,1925219.0,1992435.0,2054949.0,2039738.0,2138112.0,2172385.0,2227854.0,2218532.0,2267116.0,2299393.0,2319485.0,2360046.0,2443375.0,2536820.0,2634309.0,2610304.0,2637054.0,2700297.0,2738822.0,2807749.0,2864444.0,2954726.0,3004522.0,3093874.0,3144222.0,3177396.0,3252838.0,3266215.0,3393424.0,3614222.0,3690366.0,3763844.0,3867751.0,3903067.0,4072765.0,4146551.0,4325769.0,4488857.0,4687810.0,4744759.0,4933162.0,5099836.0,5231248.0,5439120.0,5561249.0,5685003.0,5983674.0,6199733.0,6374284.0,6410652.0,6439277.0,6561347.0,6800735.0,7114087.0,7072849.0,7086794.0,7289541.0,7399833.0,7649331.0,NaN,NaN,NaN
77521,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5419,Yield,hg/ha,66297.0,67612.0,68080.0,69544.0,71377.0,72030.0,71793.0,73606.0,74802.0,75031.0,77046.0,75602.0,75932.0,78601.0,79956.0,78451.0,79453.0,80748.0,82608.0,83000.0,83713.0,83837.0,84938.0,86323.0,88165.0,93672.0,97696.0,94510.0,93328.0,94587.0,94818.0,98329.0,96287.0,97244.0,99095.0,102938.0,102997.0,104259.0,106732.0,108699.0,107989.0,109908.0,111717.0,113783.0,114549.0,115795.0,116035.0,114182.0,114738.0,113021.0,114103.0,115650.0,114295.0,116107.0,115705.0,116517.0,116936.0,116600.0,118337.0,118457.0,NaN,NaN,NaN
77522,5817,'902,Net Food Importing Developing Countries,1735,'F1735,Vegetables Primary,5510,Production,tonnes,12449173.0,13016875.0,13564405.0,14290967.0,14559064.0,15400719.0,15596141.0,16398276.0,16595064.0,17010330.0,17715829.0,17535830.0,17920376.0,19205122.0,20283498.0,20666299.0,20739675.0,21293731.0,22306508.0,22732247.0,23504645.0,24014705.0,25096749.0,25936021.0,27277098.0,29452485.0,31041793.0,30742638.0,30482774.0,32097487.0,34269496.0,36286846.0,36240989.0,37611375.0,38677507.0,41924198.0,42708330.0,45099916.0,47910477.0,50956032.0,51237979.0,54219157.0,56973603.0,59522779.0,62304429.0,64396441.0,65965775.0,68322806.0,71134635.0,72042909.0,73147661.0,74470506.0,74992790.0,78961126.0,82313741.0,82410550.0,82869948.0,84995942.0,87567535.0,90611349.0,NaN,NaN,NaN

In [7]:
all_df[
    (all_df['Item Code'] == 1717) &\
    (all_df['Area Code'] <= 300) &\
    (all_df['Element'] == 'Yield')
][
    ['Area', "longitude", "latitude", 'Item', 'Element', 'Unit', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020']
].dropna(axis=0, how='any', subset=['latitude', 'longitude'])\
.to_csv("./data/processed/cereal_yield_per_country_2015-2020.csv")

In [8]:
all_df[
    (all_df['Item Code'] == 1717) &\
    (all_df['Area Code'] <= 300) &\
    (all_df['Element'] == 'Production')
][
    ['Area', "longitude", "latitude", 'Item', 'Element', 'Unit', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020']
].dropna(axis=0, how='any', subset=['latitude', 'longitude']).to_csv("./data/processed/cereal_production_per_country_2015-2020.csv")